<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="SportDBEntities" connectionString="metadata=res://*/Models.SportDBModel.csdl|res://*/Models.SportDBModel.ssdl|res://*/Models.SportDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RANELPC;initial catalog=user25;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>